@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.raleway-font {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body {
    width: 1440px;
    margin: 0px auto;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* nav style start */

nav {
    height: 80px;
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.nav-btn {
    background-color: rgb(254, 163, 1);
    padding: 10px 60.5px;
    color: white;
    border-radius: 12px;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}

.nav-btn:hover {
    background-color: rgb(1, 172, 253);
    transition: 0.8s;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-heading {
    font-size: 2rem;
    font-weight: 700;
}

.list-1 {
    color: rgb(254, 163, 1);
}

.list-2 {
    color: rgb(1, 172, 253);
}

.list-3 {
    color: rgb(5, 212, 223);
}

.list-4 {
    color: rgb(93, 88, 239);
}

.nav-ul {
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    font-size: 1.25rem;
    font-weight: 700;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

li a:hover {
    background: rgba(165, 136, 136, 0.8);
    transition: 0.5s;
}

.check-btn {
    font-size: 2rem;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* nav style end */

/* banner style start */

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-section {
    width: 100%;
    height: auto;
    margin-bottom: 60px;
}

.banner-heading {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.heading-1 {
    color: rgb(254, 163, 1);
}

.heading-2 {
    color: rgb(1, 172, 253);
}

.banner-p {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 24px;
    color: rgb(17, 17, 17);
}

.banner-btn {
    background-color: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 700;
    padding: 10px 47px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

.banner-btn:hover {
    background: rgba(165, 136, 136, 0.8);
    transition: 0.5s;
}

/* banner style end */

/* main style start */

/* curriculum style */

.curriculum{
    background-image: url(../assets/bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.curriculum-heading {
    font-size: 2.9rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
    text-align: center;
}

.curriculum-card-heading {
    font-size: 1.56rem;
    font-weight: 700;
    color: rgb(32, 32, 32);
    text-align: center;
    margin-top: -32px;
}

.curriculum-card-des {
    font-size: 0.95rem;
    font-weight: 500;
    color: rgb(128, 128, 128);
    text-align: center;
    margin-top: 15px;
}

.curriculum-card {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 29px;
}

.curriculum-card img {
    margin: 40px 117px;
}

.curriculum-card-1 {
    height: 477px;
    padding: 40px 43px;
    box-sizing: border-box;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.curriculum-btn-1 {
    text-align: center;
    color: rgb(100, 200, 255);
    font-size: 0.95rem;
    font-weight: 700;
    margin-top: 25px;
}

.curriculum-card-2 {
    height: 477px;
    padding: 40px 43px;
    box-sizing: border-box;
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.curriculum-btn-2 {
    text-align: center;
    color: rgb(240, 170, 0);
    font-size: 0.95rem;
    font-weight: 700;
    margin-top: 25px;
}

.curriculum-card-3 {
    padding: 40px 43px;
    height: 477px;
    box-sizing: border-box;
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.curriculum-btn-3 {
    text-align: center;
    color: rgb(135, 0, 255);
    font-size: 0.95rem;
    font-weight: 700;
    margin-top: 25px;
}

.arrow-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 80px;
}

.arrow {
    padding: 18px 23px;
    border-radius: 30px;
    background: rgb(254, 163, 1);
    border: none;
    font-size: 1.5rem;
    font-weight: 900;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.arrow:hover {
    background: rgb(1, 172, 253);
    transition: 0.5s;
}

/* our-stories style */

.our-stories {
    background: url(../assets/bg.png), linear-gradient(0.00deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
    padding: 60px 140px;
    text-align: center;
}

.stories {
    display: flex;
    gap: 30px;
    margin-top: 80px;
}

.story-btn {
    background-color: rgb(17, 17, 17);
    padding: 10px 61px;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 700;
    border-radius: 12px;
    margin-top: 80px;
    cursor: pointer;
}

.story-btn:hover {
    background-color: rgba(165, 136, 136, 0.8);
    transition: 0.5s;
    border: none;
}

.story-heading {
    font-size: 2.9rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
    text-align: center;
}

.story-2,
.story-3,
.story-3-1,
.story-4,
.story-5 {
    width: 290.69px;
    height: 301.61px;
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

.story-3-1 {
    display: none;
}

.story-1 {
    width: 540.27px;
    height: 630.52px;
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

.story-1-heading {
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
    margin: 35px;
}

.story-1-des {
    text-align: justify;
    font-size: 0.96rem;
    font-weight: 500;
    color: rgb(102, 102, 102);
    margin: 35px;
}

.story-1 img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 16px 16px 0px 0px;
}

.story-2 img,
.story-3-1 img,
.story-3 img,
.story-4 img,
.story-5 img {
    width: 100%;
    height: auto;
    border-radius: 16px 16px 0px 0px;
}

.story-2-heading {
    padding: 15px;
    font-size: 0.96rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
    text-align: left;
    margin-top: -20px;
}

.story-1-btn {
    width: 174.51px;
    height: 47.93px;
    font-size: 0.96rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
    border-radius: 47.93px;
    background: rgb(60, 216, 232);
    padding: 14px;
    transform: translateX(40px) translateY(-20px);
}

.story-2-btn,
.story-4-btn {
    font-size: 0.96rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
    border-radius: 47.93px;
    background: rgb(149, 178, 38);
    padding: 14px;
    margin: 0px 78px 0px 38px;
    transform: translateX(0px) translateY(-25px);
}

.story-3-btn {
    font-size: 0.96rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
    border-radius: 47.93px;
    background: rgb(93, 88, 240);
    padding: 14px;
    margin: 0px 78px 0px 38px;
    transform: translateX(0px) translateY(-25px);
}

.story-5-btn {
    font-size: 0.96rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
    border-radius: 47.93px;
    background: rgb(149, 178, 38);
    padding: 14px;
    margin: 0px 78px 0px 38px;
    transform: translateX(0px) translateY(-25px);
}

.all-stories {
    height: 100%;
    width: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.marquee-text {
    font-size: 1.5rem;
    font-weight: 700;
}

/* main style end */

/* footer style start */

footer {
    background: rgb(1, 172, 253);
}

.all-footer {
    padding: 123px 228.09px 174px 140px;
    display: flex;
    gap: 80px;
}

.logo-div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-heading {
    font-size: 2rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.footer-des {
    font-size: 1.25rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

.header-school {
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
    margin-bottom: 15px;
}

.ul-items {
    list-style: none;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

.social-heading {
    font-size: 1.625rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
    margin-bottom: 15px;
}

.all-icons {
    display: flex;
    gap: 10px;
}


@media screen and (max-width: 576px) {

    body {
        width: 390px;
        margin: 0 auto;
    }

    .nav-btn {
        display: none;
    }

    .nav-heading {
        display: none;
    }

    .logo {
        padding-left: 50px;
    }

    .check-btn {
        display: block;
    }

    nav {
        padding-bottom: 20px;
        align-items: center;
        border-bottom: 0.5px solid rgb(254, 163, 1);
    }

    .nav-ul {
        position: fixed;
        margin-top: 50px;
        width: 100%;
        height: 100vh;
        background: black;
        top: 50px;
        left: -100%;
        text-align: center;
        transition: all 0.5s ease;
        z-index: 1000;
    }

    .check-btn {
        font-size: 2.5rem;
        line-height: 80px;
        cursor: pointer;
        display: block;
        z-index: 2000;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    nav ul li a:hover {
        background: none;
        color: chartreuse;
    }

    #check:checked~.nav-ul {
        left: 0;
    }

    .banner,
    .curriculum-card {
        flex-direction: column;
    }

    .curriculum-card-1,
    .curriculum-card-2,
    .curriculum-card-3 {
        width: 98%;
        padding: 36px 28px 36px 28px;
    }

    .curriculum-heading {
        font-size: 26px;
        font-weight: 700;
    }

    .banner-heading {
        font-size: 32px;
        font-weight: 700;
    }

    .banner-p {
        font-size: 14px;
        font-weight: 500;
    }

    .banner-section, .curriculum {
        width: 100%;
        height: auto;
        padding: 0 20px;
    }

    .banner-all {
        order: 2;
    }

    .banner {
        padding: 10px;
        text-align: center;
    }

    .arrow-btn {
        display: none;
    }

    .marquee-text {
        margin-top: 30px;
    }

    .story-1 {
        display: none;
    }

    .story-2,
    .story-3,
    .story-3-1,
    .story-4,
    .story-5 {
        width: 174px;
        height: 180px;
        border-radius: 16px;
        background: rgb(255, 255, 255);
    }

    .story-2 img,
    .story-3-1 img,
    .story-3 img,
    .story-4 img,
    .story-5 img {
        border-radius: 9.53px 9.53px 0px 0px;
    }

    .story-2-btn,
    .story-4-btn {
        font-size: 9.13px;
        font-weight: 500;
        margin: 0px 46px 0px 22px;
        padding: 5px;
        transform: translateY(-15px);
    }

    .story-3-btn {
        font-size: 9.13px;
        font-weight: 500;
        margin: 0px 46px 0px 22px;
        padding: 5px;
        transform: translateY(-15px);
    }

    .story-5-btn {
        font-size: 9.13px;
        font-weight: 500;
        margin: 0px 46px 0px 22px;
        padding: 5px;
        transform: translateY(-15px);
    }

    .story-2-heading {
        font-size: 9.13px;
    }

    .story-3-1 {
        display: block;
    }

    .all-stories {
        grid-template-columns: repeat(2, 1fr);
    }

    .stories {
        margin: 0px -38px;
        margin-top: 80px;
    }

    .our-stories {
        padding: 50px;
    }

    .all-footer {
        flex-direction: column;
        padding: 20px 30px;
    }
}