@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body {
    width: 1440px;
    margin: 0px auto;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* nav style start */

nav{
    height: 80px;
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.nav-btn{
    background-color: rgb(254, 163, 1);
    padding: 10px 60.5px;
    color: white;
    border-radius: 12px;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}

.logo{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-heading{
    font-size: 2rem;
    font-weight: 700;
}

.list-1{
    color: rgb(254, 163, 1);
}

.list-2{
    color: rgb(1, 172, 253);
}

.list-3{
    color: rgb(5, 212, 223);
}

.list-4{
    color: rgb(93, 88, 239);
}

.nav-ul {
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    font-size: 1.25rem;
    font-weight: 700;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

li a:hover{
    background: rgba(165, 136, 136, 0.8);
    transition: 0.5s;
}

.check-btn{
    font-size: 2rem;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

/* nav style end */

/* banner style start */

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-heading{
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.heading-1{
    color: rgb(254, 163, 1);
}

.heading-2{
    color: rgb(1, 172, 253);
}

.banner-p{
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 24px;
    color: rgb(17, 17, 17);
}

.banner-btn{
    background-color: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 700;
    padding: 10px 47px;
    border-radius: 12px;
    border: none;
}

/* banner style end */

@media screen and (max-width: 576px) {

    body{
        width: 390px;
    }

    .nav-btn{
        display: none;
    }

    .nav-heading{
        display: none;
    }

    .logo{
        padding-left: 50px;
    }

    .check-btn{
        display: block;
    }

    nav{
        padding: 12px 16px;
        align-items: center ;
        border-bottom: 0.5px solid rgb(254, 163, 1);
    }

    .nav-ul{
        position: fixed;
        margin-top: 50px;
        width: 100%;
        height: 100vh;
        background: black;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s ease;
        z-index: 1000;
    }
    
    .check-btn {
        font-size: 2.5rem;
        line-height: 80px;
        cursor: pointer;
        display: block;
        z-index: 2000; /* Above the menu */
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover{
        background: none;
        color: chartreuse;
    }

    #check:checked ~ .nav-ul{
        left: 0;
    }

    .banner{
        flex-direction: column;
    }

    .banner-all{
        order: 2;
    }
}